<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='shortcut icon' href='/media/nestjs.svg' type='image/x-icon' />
    <title>IMAGIUO</title>
    <link rel='stylesheet' href='/styles/alive.css' />
  </head>
  <body>
    <span>
      <h1>IMAGIUO</h1>
      <h3>{{message}}</h3>
    </span>
  </body>
</html>